/* || GENERAL CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Plus Jakarta Sans; 
}

/* ||TYPOGRAPHY */

.dark-blue-font {
  color: var(--13183-f, #13183f);
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.white-font {
  color: var(--ffffff, #fff);
  font-style: normal;
}

.grey-font {
  color: var(--83869-a, #83869a);
  font-style: normal;
  font-weight: 500;
}

/* || Course boxes */
.page__main-content__courses__box {
  position: relative;
  border-radius: 10px;
  background: var(--ffffff, #fff);
  box-shadow: 0px 25px 50px 0px rgba(6, 22, 141, 0.04);
  padding: 5.6rem 2.9rem 3.2rem 2.8rem;
  margin-bottom: 4rem;
}

.page__main-content__courses__box__icon {
  position: absolute;
  left: 2.8rem;
  top: -2.4rem;
}

.page__main-content__courses__box__header {
  font-size: 2rem;
  margin-bottom: 1.6rem;
}

.page__main-content__courses__box__text {
  line-height: 2.6rem;
  font-size: 1.6rem;
  margin-bottom: 2.4rem;
}

.page__main-content__courses__box__btn {
  cursor: pointer;
  color: var(--f-74780, #f74780);
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.8rem; /* 155.556% */
}

.last-course-box {
  margin-bottom: 20rem;
}

/* || MAIN CSS */

/* || Navigation */
.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;

  position: relative;

  max-width: 37.5rem;
  margin: 0 auto;
  background: var(--ffffff, #fff);
  padding: 1.6rem 1.6rem 0 1.6rem;
}

.page__nav {
  display: flex;
  align-items: center;
  justify-content: space-between  ;
  margin-bottom: 3.8rem;
}

.page__nav__logo {
  font-size: 2.8rem;
}

.page__nav__btn {
  cursor: pointer;
  border-radius: 2.8rem;
  background: var(--13183-f, #13183f);
  line-height: 2.8rem; /* 175% */
  font-size: 1.6rem;
  padding: 0.9rem 2.4rem 1.1rem 2.4rem;
  font-weight: 700;
}

/* || Hero section */
.page__main-content__header {
  font-size: 4rem;
  margin-bottom: 2.6rem;
}

.page__main-content__text {
  font-size: 1.6rem;
  line-height: 2.6rem;
  margin-bottom: 2.4rem;
}

.page__main-content__btn {
  cursor: pointer;
  font-weight: 700;
  width: 16.7rem;
  font-size: 1.6rem;
  line-height: 2.6rem; /* 162.5% */
  border-radius: 3.15rem;
  background: var(
    --gradient-1,
    linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%)
  );
  padding: 1.5rem 3.7rem 1.5rem 3.8rem;
  margin-bottom: 4.6rem;
}

.page__main-content__img-mobile {
  width: 100%;
}

.page__main-content__img-tablet {
  display: none;
}

.page__main-content__img-desktop {
  display: none;
}

/* || Courses section */
.page__main-content__courses__header {
  border-radius: 1rem;
  background: var(
    --gradient-1,
    linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%)
  );
  padding: 2.4rem 2.9rem 3.2rem 2.8rem;
  margin-bottom: 4rem;
  font-size: 2.4rem;
  line-height: 3.2rem;
}

/* || FOOTER */

.page__footer {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  padding: 3.6rem 1.6rem;
  background: var(--13183-f, #13183f);
}

.page__footer__log {
  font-size: 2.8rem;
  font-weight: 800;
  line-height: normal;
}

.page__footer__btn {
  cursor: pointer;
  border-radius: 28px;
  background: var(
    --gradient-2,
    linear-gradient(180deg, #4851ff 0%, #f02aa6 100%)
  );
  padding: 0.9rem 2.4rem 1.1rem 2.4rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.8rem; /* 175% */
}

/* || MEDIA QUERIES */

@media only screen and (min-width: 376px) and (max-width:768px) {
  .page {
    max-width: 76.8rem;
    padding: 2.4rem 4rem 0 4rem;
  }

  .page__nav {
    margin-bottom: 9.9rem;
  }

  .page__main-content__hero {
    width: 39.8rem;
    margin-bottom: 21rem;
  }

  .page__main-content__header {
    margin-bottom: 2.5rem;
  }

  .page__main-content__text {
    margin-bottom: 2.5rem;
  }

  .page__main-content__img-mobile {
    display: none;
  } 

  .page__main-content__img-tablet {
    display: block;
    position: absolute;
    translate: 47% -105%;
  }

  .page__main-content__courses {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 68.8rem;
    margin-bottom: 20.6rem;
  }

  .page__main-content__courses__header {
    padding: 5.6rem 2.1rem 13.9rem 3.2rem;
    width: 34rem;
    font-size: 2.4rem;
    font-weight: 800;
  }

  .page__main-content__courses__box {
    width: 34rem;
    margin-bottom: 5.6rem;
    padding: 5.6rem 2.2rem 3.2rem 3.2rem;
  }

  .page__main-content__courses__box__icon {
    left: 3.2rem;
  }

  .page__footer {
    padding: 3.6rem 4rem;
  }
}

  @media only screen and (min-width: 768px) {
    .page {
      max-width: 144rem;
      padding: 2.9rem 16.5rem 0 16.5rem;
    }

    .page__nav {
      margin-bottom: 17.8rem;
    }

    .page__nav__logo {
      font-size: 3.6rem;
    }

    .page__nav__btn {
      z-index: 1;
      cursor: pointer;
      font-size: 1.8rem;
      padding: 1.4rem 3.1rem 1.4rem 3.2rem;
    }

    .page__main-content__hero {
      width: 45.7rem;
      margin-bottom: 25rem;
    }

    .page__main-content__header {
      font-size: 5.6rem;
      margin-bottom: 2.9rem;
    }

    .page__main-content__text {
      font-size: 1.8rem;
      line-height: 2.8rem;
      margin-bottom: 4rem;
    }

    .page__main-content__btn {
      font-size: 1.8rem;
      line-height: 2.8rem;
      padding: 1.9rem 3.1rem 1.6rem 3.2rem;
    }

    .page__main-content__img-mobile {
      display: none;
    }

    .page__main-content__img-desktop {
      display: block;
      position: absolute;
      translate: 55% -110%;
    }

    .page__main-content__courses {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 111rem;
      margin-bottom: 26rem;
    }

    .page__main-content__courses__header {
      padding: 5.6rem 2.1rem 13.9rem 3.2rem;
      width: 35rem;
      font-size: 3.2rem;
      font-weight: 800;
    }

    .page__main-content__courses__box {
      width: 35rem;
      margin-bottom: 8rem;
      padding: 6.4rem 3.2rem 4rem 3.2rem;
    }

    .page__footer {
      padding: 3.2rem 16.5rem;
      left: 0;
    }

    .page__footer__log {
      font-size: 3.6rem;
      font-weight: 800;
    }

    .page__footer__btn {
      padding: 1.4rem 3.1rem 1.4rem 3.2rem;
      font-size: 1.8rem;
    }

    /* || HOVER STATES */

    .page__nav__btn:hover {
      background: var(--666-ca-3, #666CA3);
    }

    .page__main-content__btn:hover {
      background: var(--gradient-1-hover, linear-gradient(0deg, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.50) 100%), linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%));
    }

    .page__footer__btn:hover {
      background: linear-gradient(0deg, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.50) 100%), linear-gradient(180deg, #4851FF 0%, #F02AA6 100%);  
    }
  }
